
.main_container_sign{
    width: 90vw;
    height: fit-content;
    position: inherit;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    .user_type{
        width: fit-content;
        height: fit-content;
        position: relative;
        right: 0;
        left: 0;
        margin: auto;
        padding: 20px 40px 40px 40px;
        span{
            margin-right: 200px ;
        }
        input{
            margin-right: 15px;
            cursor: pointer;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            border: 0.1em solid #007ef3;
        }
    }
    .fill_area{
        display: flex;
        justify-content: center;
        input{
            outline: none;
            background-color: rgb(36, 36, 36);
            width: 40vw;
            height: 30px;
            resize: none;
            padding: 20px 30px 20px 30px;
            font-size: 24px;
            color: #efefef;
            line-height: 1.25;
            border: none;
            margin-bottom: 30px;
        }
        span{
            display: block;
            justify-content: center;
            p{
                color: #efefef
            }
            a{
                text-decoration: none;
                margin-top: 20px;
                transition: ease-in-out .25s;
                letter-spacing: 3px;
                color: #007ef3;
        
            }
            a:hover{
                
                color: #efefef;
            }
        }
        .btn_sub{
            justify-content: center;
            color: #ffffff;
            background-color: #007ef3;
            border-radius: 30px;
            width: 10vw;
            height: 40px;
            padding: 8px 26px 36px 26px;
            outline: none;
            border: none;
            cursor: pointer;
        }
    }
    
}
#foot{
    width:90vw;
    position: absolute; 
    right: 0;
    left: 0;
    margin: auto;
    hr{
        height:2px;
        border-width:0;
        color:gray;
        background-color:gray;
        
    }
    .foot_detail{
        span{
            margin-right: 50px;
        }
        img{
            margin-right: 30px;
            width: 30px;
        }
    }
}
